*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: red;
}

.starterOptions {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 18px;
}

.starterOptions > label {
  display: block;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 20px;
}

.starterOptions input[type="text"] {
  outline-style: none;
  border: none;
  border-bottom: 2px solid;
  margin-left: 10px;
  font-size: 18px;
  padding: 0 5px;
}

.gameStartBtn {
  margin-left: 45%;
  margin-top: 20px;
}

.turnInfo {
  text-align: center;
  font-size: 22px;
  margin-top: 50px;
  color: blue;
}

.gameboards,
.placeAllShips {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.placeAllShips .ships {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background-color: lightsteelblue;
}

.ships img {
  width: 120px;
  height: 100px;
}

.player1Board,
.player2Board {
  display: inline-block;
  justify-content: center;
}

.player1Board.disabled,
.player2Board.disabled {
  pointer-events: none;
  opacity: 0.4; 
}

.player1Board {
  border: 4px solid lightsalmon;
}

.player2Board {
  border: 4px solid lightgreen;
}

.gameboards span {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
}

.gameboards .rowDiv,
.placeAllShips .rowDiv {
  display: flex;
}

.gameboards .columnDiv,
.placeAllShips .columnDiv {
  width: 40px;
  height: 40px;
  border: 1px solid;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.placeAllShips .columnDiv.hovered {
  background-color: aliceblue;
}

.gameboards .columnDiv.attacked {
  background-color: red;
}

.gameboards .columnDiv.missed {
  background-color: lightskyblue;
}

.gameboards .columnDiv.latest:after {
  content: '+';
  position: relative;
  left: 13px;
  top: 10px;
  font-weight: bolder;
}